body {
      background: linear-gradient(to right, rgba(43, 35, 29, 0.529), rgba(43, 35, 29, 0.529)), url("./../../assets/pexels-photo-434231-cropped.jpg");
      max-width: 100%;
      background-size: cover;
      height: 100vh;
      background-repeat: no-repeat;
   }

@media (min-width: 500px){
   body {
      background: linear-gradient(to right, rgba(43, 35, 29, 0.529), rgba(43, 35, 29, 0.529)), url("./../../assets/pexels-photo-434231.jpeg");
      max-width: 100%;
      background-size: cover;
      height: 100vh;
      background-repeat: no-repeat;
   }
}

.walkButtons {
   // clear: both;
   height: 90px;
   text-align: center;
   padding-top: 20px;
}