body {
      background: linear-gradient(to right, rgba(43, 35, 29, 0.529), rgba(43, 35, 29, 0.529)), url("./../../assets/pexels-photo-434231-cropped.jpg");
      max-width: 100%;
      background-size: cover;
      height: 100vh;
      background-repeat: no-repeat;
   }

   .walkContainer {
      padding-bottom: 50px;
      padding-top: 25px;
   }

@media (min-width: 500px){
   body {
      background: linear-gradient(to right, rgba(43, 35, 29, 0.529), rgba(43, 35, 29, 0.529)), url("./../../assets/pexels-photo-434231.jpeg") ;
      max-width: 100%;
      background-size: cover;
      height: 100vh;
      background-repeat: no-repeat;
      background-attachment: fixed;
   }
}

.walkButtons {
   height: 50px;
   text-align: center;
   padding: 15px 0;
   margin: 20px 0;
}

.map {
   position: relative;
}

.mapStyles {
   margin-bottom: 25px;
}