// * {
//    border: 1px #e6ded2 solid;
// }

@import 'typographyColors';

.headerBG{
   background-color:rgba(71, 57, 48, 0.75);
   // background-image: url("./../../assets/beans_brown_coffee_roasted-998779.jpg");

}

.header {
   width: 270px;
   margin: 0 auto;
   // border: 1px #e6ded2 solid;

   .header__title {
      font-size: 27px;
      padding: 8px 0 0;
      float: left;
      margin: 10px 0;
      color: $color3;
      letter-spacing: .25px;
      text-transform: uppercase;
   }

   .header__logo {
      float: left;
      max-width: 50px;
      padding-top: 5px;
   //    color: $color3;
   //    stroke: $color3;
   //    fill: white;

   }
}