.searchFormDiv {
   text-align: center;
}

.searchForm {
   background: rgba(71, 57, 48, 0.644);
   max-width: 400px;
   height: 130px;
   margin: 5px auto;
   padding: 10px 5px;
   border-radius: 3px;
   border: solid 1px $color6;
}