.routeContainer {
   display: block;
   // position: relative;
   border-radius: 5px;
   background: $color1;
   border: 1px solid $color5;
   // padding: 40px 20px 50px;
   // border: 1px solid $color2;
   color: $color4;
   // width: 250px;
   // height: 100px;
   font-family: $bodyFont;
   // transition: all 0.2s;
   margin: 0 auto;
   margin-bottom: 5px;
   text-align: center;
   margin: 0 5px 5px;
}  

.routeContainer p {
   font-size: 10px;
   padding: 0;
   margin: 0;
}

.route {
   width: 50%;
   float: left;
   // border: 1px solid $color2;
   min-height: 75px;
   padding: 20px 0 20px;
} 

.route h4 {
   margin: 5px;
   font-family: $bodyFont;
}

.routeEnd {
   border-left: 1px solid $color5;
}

.deleteWalk {
   display: inline-block;
   width: 100%;
   // float: right;
   background: $color1;
   border: none;
   // z-index: 2;
   // position: absolute;
   // top: 100px;
// .deleteWalk p {
//    background: white;
//    font-size: 10px;
//    text-align: center;
// } 
}


// .deleteWalk:hover {
//    background: transparent;
// }  &:active{
//       transform: scale(1);
//    }
