.routeContainer {
   display: block;
   // position: relative;
   border-radius: 5px;
   background: $color1;
   border: 1px solid $color5;
   // padding: 40px 20px 50px;
   // border: 1px solid $color2;
   color: $color4;
   // width: 250px;
   // height: 100px;
   font-family: $bodyFont;
   transition: all 1s;
   margin: 0 auto;
   text-align: center;
   margin: 0 5px 15px;
}  

.routeContainer p {
   font-size: 10px;
   padding: 0;
   margin: 0;
}

.route {
   width: 50%;
   float: left;
   min-height: 75px;
   // border: 1px solid $color2;
   padding: 20px 0 20px;
   position: relative;
   
} 

.route h4 {
   font-family: $bodyFont;
}

.route h3 {
   font-size: 20px;
}

.routeEnd {
   border-left: 1px solid $color5;
}

.deleteWalk {
   display: inline-block;
   width: 100%;
   // float: right;
   background: $color1;
   border: none;
}

.routeHeader {
   h4 {
      width: 15%;
      float: left;
      color: #e3c59a;
   }
   h3 {
      float: left;
   }
}

.routeContent {
   margin-top: 30px;

   h4 {
      margin: 15px 0;
   }
}

.routeContentTitle {
   height: 30px;
}

